@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {overflow: hidden;width: 100%;}
.wrapper {width: 1000px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper960 {width: 960px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper940 {width: 940px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper920 {width: 920px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper910 {width: 910px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper880 {width: 880px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper790 {width: 790px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper750 {width: 750px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper660 {width: 660px;padding: 0 0px;margin: 0 auto;text-align: left;}


/* header
----------------------------------------------------------------------------------------------------*/

header {
	border-bottom:5px solid #62b256;
}
header .top h1 {
	float: left;
}
header .top h1 img {
	padding-top:10px;
	float: left;
}
header .top h2 {
	padding-top:30px;
	padding-left:5px;
	float: left;
	font-size: 17px;
	font-size: 1.7rem;
}

header .top .comp {
	padding-top:30px;
	float: right;
}

header .top .comp a {
	font-size: 1.5rem;
	font-size:15px;
	position: relative;
}

header .top .comp a:hover {
	color:#62b256;
}


header .top .comp a:after {
	content:"";
	box-sizing: border-box;
    left: -16px;
    top: 7px;
	width: 4px;
	height: 4px;
	border: 4px solid transparent;
	border-left: 4px solid #000;
	position: absolute;
}

header .top .comp a:hover:after {
	content:"";
	box-sizing: border-box;
    left: -16px;
    top: 7px;
	width: 4px;
	height: 4px;
	border: 4px solid transparent;
	border-left: 4px solid #62b256;
	position: absolute;
}


header .top .contact {
	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    margin-top:18px;
    margin-left:25px;
}

@media (max-width: 767px) {
  header .top .contact {
    display: none;
  }
}


header .top .contact a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    padding: 15px 38px 16px 27px;
    line-height: 1;
    position: relative;
	border-radius: 5px;
	background: #62b256;
}
header .top .contact a:hover {
	background: #77ce67;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
header .top .contact a:after {
	content:"";
    right: 10px;
    top: 20px;
    width: 5px;
    height: 5px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    position: absolute;
}

@media (max-width: 1019px) {
  header .top .contact a {
    padding: 12px 35px;
  }
}


header .top .contact img {
  margin-right: 14px;
}





header nav {
	margin-top:3px;
	float:right;
}
header nav ul li a {
	color:#333333;
	display: block;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 5px 29px 14px 26px;
    height: 60px;
	text-decoration: none;
	line-height: 1.2;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-align:center;

	position: relative;

}
header nav ul {
	width: 100%;
	    overflow: hidden;
}
header nav ul li a:hover:after {
	content:"";
	position: absolute;
	bottom:0px;
	left: 46%;
	box-sizing: border-box;
	width: 6px;
	height: 6px;
	border: 6px solid transparent;
	border-bottom: 6px solid #62b256;

}


header nav ul li.s a {
	padding: 16px 35px;

}
header nav ul li:first-child {
	border-left:1px solid #b3b3b3;
}
header nav ul li {
	border-right:1px solid #b3b3b3;
	xdisplay: block;
    float: left;
	xposition: relative;

}
header nav ul li a span{
	display:block;
	font-size: 14px;
	font-size: 1.4rem;
	color:#333333;
	padding-bottom:2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
header nav ul li a:hover,
header nav ul li a:hover span {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color:#009245;
}


@media (max-width: 767px) {

	header .contact{
		position:fixed;
		right:0px;
		top:85px;
		z-index:9999;
	}

}



header.drawermenu {
  display: none;
}
@media (max-width: 767px) {
	header.drawermenu {
	display: block;
	z-index: 99999;
	}
}

header.drawermenu .drawer-hamburger {
	width: 2.6rem;
	padding: 16px 3% 2%;
	position: absolute; 
}

header.drawermenu .drawer-brand {
	margin: 3% 2% 2%;
	max-width: 200px; 
}
header.drawermenu .drawer-brand img {
  width: 100%;
  height: auto;
}
header.drawermenu .drawer-menu-item {
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 4% 6% 4% 4%;
	position: relative;
	font-size: 13px;
	font-size: 1.3rem;
}
header.drawermenu .drawer-menu-item:after {
	position: absolute;
	top: 50%;
	right: 4%;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
@media (max-width: 767px) {
	header.drawermenu a:hover {
	  text-decoration: none;
	  background-color: #f2f2f2;
	}
}



header.global nav {
  margin-top: 26px;
  float: right;
  z-index: 100;
  position: relative;
}

@media (max-width: 1023px) {
  header.global nav {
    clear: both;
  }
}

@media (max-width: 1019px) {
  header.global nav {
    margin-top: 0;
    margin-right: 0;
    float: none;
  }
}

@media (max-width: 767px) {
  header.global nav {
    display: none;
  }
}

@media (max-width: 1019px) {
  header.global nav ul {
    display: table;
    width: 100%;
  }
}


header.global nav ul li ul.drop {
  position: absolute;
  display: none;
  float: none;
  z-index: 99999;
  border: none;
  background: none;
  margin-right: 15px;
}

@media (max-width: 1023px) {
  header.global nav ul li ul.drop {
    border-top: 1px solid #eee;
  }
}


header.global nav ul li ul.drop li {
  border: none;
  float: none;
  position: static;
  padding: 0px;
  font-size: 16px;
  font-size: 1.6rem;
  display: block;
}



header.global nav ul li ul.drop li a {
  display: block;
  float: none;
  border-bottom: 1px solid #eee;
  background: white;
  text-align: left;
  padding: 12px 25px 10px 25px;
  text-decoration: none;
  line-height: 1.6;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
}

header.global nav ul li ul.drop li a:hover {
  background: #ececec;
  color: #134480;
}

@media (max-width: 767px) {
	header.global h1 {
		margin: 10px 2%;
		text-align: center; }
  }
@media (max-width: 389px) {
	header.global h1 img {
	  width: 240px;
	}
}















/* footer
----------------------------------------------------------------------------------------------------*/
footer {
	border-top:5px solid #62b256;

}

footer .comp {
	width: 320px;
	float:left;
}

footer .comp img {
	margin-top:30px;
	margin-bottom:35px;
}

footer .comp address {
	font-size: 15px;
	line-height: 1.5;
}
footer .comp p {
	font-size: 15px;
}
footer .box {
	display: table;
}
footer .box .left {
	width: 340px;
	display: table-cell;
	border-left:1px solid #cccccc;
	padding-bottom:60px;
}

footer .box .right {
	width: 340px;
	display: table-cell;
	border-left:1px solid #cccccc;
}


footer nav {
	padding-top: 30px;
	padding-bottom: 5px;
	text-align: center;
	margin-top:15px;
}
footer nav ul {
	width:100%;
}
footer nav ul li {
	text-align:left;
	position: relative;
    padding-left: 45px;
    padding-right: 40px;
}
footer nav ul li.root:before {
	content:"＞";
    left: 26px;
    top: 6px;
    position: absolute;
}
footer nav ul li a {
	text-align:left;
	line-height: 2;
	font-size: 14px;
	font-size: 1.4rem;
	text-decoration: none;
	color:#333333!important;
}
footer nav ul li a:hover {
	color:#62b256!important;
	text-decoration: none;
}

footer nav ol li {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}


footer nav ol li:before  {
	content:"-";
    top: 11px;
    margin-right:5px;
}


footer nav a:hover {
	text-decoration: underline;
}
footer nav ul li p a{
	font-size: 13px;
	font-size: 1.3rem;
	color:#fff !important;
	margin-top:10px;
	display:block;
}
footer nav ul li p a:before{
	content:'- ';
}
footer .copy {
	background: #62b256;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-size: 1.1rem;
	padding: 15px 0 15px;
	line-height: 1;
	margin-top:20px;

}

#page_top a {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	width: 128px;
}
/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
	width: 740px;
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 50px;
}
#contents {
	margin: 0 auto;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	xpadding-bottom: 50px;
	color:#505050;
}
#contents p{
	font-size: 15px;
	font-size: 1.5rem;
	line-height:1.9;
	margin-bottom:10px;
	
}
#sidebar {
    width: 220px;
    float: right;
    margin-top: 30px;
    padding-bottom: 30px;
}
#sidebar h3 {
    font-size: 17px;
    text-align: left;
    border-left: 3px solid #f6526d;
    margin-bottom: 15px;
    padding: 0 0 0 15px;
    line-height: 1.5;
    color: #565656;
    font-weight: bold;
}
#sidebar ul li a {
    position: relative;
    display: block;
    padding: 0px 20px 0px 20px;
    font-size: 13px;
    color: #1a1a1a;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#sidebar ul li a:hover {
	color:#62b256;
}
#sidebar .linkbtn1 a{
width: 100%;
    padding: 12px 4%;
    text-align: center;
    font-size: 13px;
    margin-top: 8%;
}
#sidebar .linkbtn1 a:after{
    top: 15px;
}

#sidebar .linkbtn1 a:before{
	width:100%;
	padding:2% 4%;
}


#sidebar .newslist {
	padding: 6px 0;
}
/* pagetitle(ページタイトル)
----------------------------------------------------------------------------------------------------*/

#pagetitle {
	height: 170px;
	position: relative;
	width: 100%;
	min-width: 1000px;
	color: #fff;
	text-align: center;
	background: #333;
	z-index: 1;
    line-height: 180px;
}

#pagetitle .bg {
	background-color: rgba(0,0,0,0.15);
	position: absolute;
	height: 170px;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	color:#fff;
	z-index: 2;
}
#pagetitle .wrapper {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight:bold;
}

#pagetitle h3 span {
	display: block;
	font-size: 22px;
	line-height: 1.5;
}

#pagetitle h3 {
	line-height: 1.5;
    font-size: 29px;
    color: white;
    xfont-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    z-index: 3;

}

#pagetitle h3.s {
	padding-top:50px;
}

#page_visitcare #pagetitle h3 span,
#page_careplan #pagetitle h3 span {
	background:#62b256;
	color:#fff;
	padding:5px 20px;
	margin-bottom:5px;
}

#page_visitcare #pagetitle h3.s,
#page_careplan #pagetitle h3.s {
	padding-top:40px;
}

#page_company #pagetitle,
#page_contact #pagetitle,
#page_single #pagetitle,
#page_newslist #pagetitle,
#page_404 #pagetitle {
	background:url(../../images/pagetitle_main.jpg) no-repeat center center;	
	background-size:cover;
}

#page_house #pagetitle {
	background:url(../../images/pagetitle_house.jpg) no-repeat center center;	
	background-size:cover;
}

#page_visitcare #pagetitle,
#page_privacy #pagetitle,
#page_careplan #pagetitle {
	background:url(../../images/pagetitle_east.jpg) no-repeat center center;	
	background-size:cover;
}

/* pagelink_col3
----------------------------------------------------------------------------------------------------*/

.pagelink_col2 {
	border:#e6e6e6 7px solid;
	width: 625px;
	margin:40px auto;
}


.pagelink_col2 ul {
    margin: 20px 0 6px;
    padding-left: 40px;
}
.pagelink_col2 ul li {
	float:left;
	margin-bottom:15px;
	padding-right:30px;
}

.pagelink_col2 ul li a {
	display: block;
	width: 250px;
	padding:10px 0;
	text-align: center;
	background: #e6e6e6;
	border-radius: 5px;
}
.pagelink_col2 ul li a:hover {
	background: #f4f4f4;
}





.pagelink_col3 {
	border:#e6e6e6 7px solid;
	width: 660px;
	margin:40px auto;
}
.pagelink_col3 ul {
	margin:20px;
	padding-left: 17px;
}
.pagelink_col3 ul li {
	float:left;
	margin-bottom:15px;
	padding-right:30px;
}

.pagelink_col3 ul li:nth-child(n + 3) {
	margin-bottom:0px;
}
.pagelink_col3 ul li:nth-child(3),.pagelink_col3 ul li:nth-child(6) {
	padding-right:0px;
}
.pagelink_col3 ul li a {
	display: block;
	width: 170px;
	padding:10px 0;
	text-align: center;
	background: #e6e6e6;
	border-radius: 5px;
}
.pagelink_col3 ul li a:hover {
	background: #f4f4f4;
}



/* menulink(メニューリンク)
----------------------------------------------------------------------------------------------------*/
#house_menulink {
	background:#F9F8E5;
}

#house_menulink ul {
	margin-left:20px;
	padding:12px 0;
}


#house_menulink ul li {
	float:left;
	font-size: 15px;
	margin-right:67px;
}
#house_menulink ul li a:hover {
	color:#62b256;
}
#house_menulink ul li a.hover {
	color:#62b256;
}
#house_menulink ul li a {
	position: relative;
}

#house_menulink ul li a:after {
	content: "";
    box-sizing: border-box;
    left: -16px;
    top: 7px;
    width: 4px;
    height: 4px;
    border: 4px solid transparent;
    border-left: 4px solid #000;
    position: absolute;
}

#house_menulink ul li a:hover:after {
	content: "";
    box-sizing: border-box;
    left: -16px;
    top: 7px;
    width: 4px;
    height: 4px;
    border: 4px solid transparent;
    border-left: 4px solid #62b256;
    position: absolute;	
}

/* contact_link(メニューリンク)
----------------------------------------------------------------------------------------------------*/
#contact_link {
	background:url(../../images/contact_link.jpg) no-repeat;	
	background-size:cover;
	padding-bottom:25px;
}
#contact_link h2 {
    text-align: center;
    color: #0071bc;
    border: 1px solid #0071bc;
    padding: 5px 32px;
    display: inline-block;
    margin: 30px auto 20px;
}
#contact_link .wrapper {
	text-align: center;
}

#contact_link h3 {
	font-size:22px;
	line-height:1.4;
	margin-bottom:15px;
}
#contact_link h3 .sm {
	font-size:16px;
	display: block;
}
#contact_link .box {
	width:690px;
}
#contact_link .box {
    width: 690px;
    margin: 0 auto;
}
#contact_link .box {
	width:690px;
}
#contact_link .box .tel {
    line-height: 1.5;
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 10px;
 }
#contact_link .box .tel a {
    color: #0071bc;
   font-size: 29px;
    font-weight: bold;
    letter-spacing: 1px;
}
#contact_link  address {
	margin-bottom: 15px;
}
#contact_link .box .linkbtn {
 	width:50%;
 	float:left;

}
#contact_link .box .linkbtn img {
	padding-right:10px;

}
#contact_link .box .linkbtn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 14px 50px 15px 26px;
    margin-top: 0px;
    line-height: 1.7;
    position: relative;
    border-radius: 5px;
    background: #29abe2;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#contact_link .box .linkbtn a:hover {
	background:#33caff;
}
#contact_link .box .linkbtn a:before {
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    content: "";
    right: 10px;
    top: 20px;
}
#contact_link .box .linkbtn a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* contact_link(メニューリンク)
----------------------------------------------------------------------------------------------------*/
#azeria_contact_link {
	background:url(../../images/contact_azeria_link.jpg) no-repeat;	
	background-size:cover;
	padding:40px 0 45px;

}
#azeria_contact_link h2 {
    text-align: center;
    font-size: 20px;
    margin: 0px auto 5px;
}
#azeria_contact_link .wrapper {
	text-align: center;
}
#azeria_contact_link p {
	font-size:15px;
	padding-top:10px;
	color:#fff;
}

#azeria_contact_link .bg_white {
	width:660px;
	margin:0 auto;
	padding:20px 0 10px;
}

#azeria_contact_link h3 {
	font-size:22px;
	line-height:1.4;
	margin-bottom:15px;
}
#azeria_contact_link h3 .sm {
	font-size:16px;
	display: block;
}
#azeria_contact_link .box {
    width: 690px;
    margin: 0 auto;
}
#azeria_contact_link .box .tel {
    line-height: 1.4;
    padding-top: 4px;
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 10px;
 }
#azeria_contact_link .box .tel a {
    color: #fff;
   font-size: 29px;
    font-weight: bold;
    letter-spacing: 1px;
}
#azeria_contact_link  address {
    margin-bottom: 10px;
    font-size: 15px;
}
#azeria_contact_link .box .linkbtn {
 	width:50%;
 	float:left;

}
#azeria_contact_link .box .linkbtn img {
	padding-right:10px;

}
#azeria_contact_link .box .linkbtn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 14px 50px 15px 26px;
    margin-top: 0px;
    line-height: 1.7;
    position: relative;
    border-radius: 5px;
    background: #ef6f8e;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#azeria_contact_link .box .linkbtn a:hover {
	background:#ff7da2;
}
#azeria_contact_link .box .linkbtn a:before {
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    content: "";
    right: 10px;
    top: 20px;
}
#azeria_contact_link .box .linkbtn a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #ef6f8e;
    border-right: 1px solid #ef6f8e;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* グリッド

----------------------------------------------------------------------------------------------------*/
.grid-tail {
	padding-top:45px;
	padding-bottom:62px;
}

.grid-tail ul {
	width: 100%;
}
.grid-tail.col4 ul li {
	width: 230px;
	float:left;
	margin-right:26.6px;
	margin-bottom:20px;
}
.grid-tail.col4 ul li:nth-child(4n) {
	margin-right:0px;
	float:left;
	margin-bottom:20px;
}

.grid-tail.col3 ul li {
	width: 317px;
	float:left;
	margin-right:24px;
	margin-bottom:20px;
}
.grid-tail.col3 ul li:nth-child(3n) {
	margin-right:0px;
	float:left;
	margin-bottom:20px;
}

.grid-tail.col3 ul li .text {
	padding-top:10px;
	margin-bottom:0px!important;
}

.grid-tail a:hover img {
	opacity: 0.8;
}
.grid-tail a img {
  transition-property: all;
  transition: 0.3s linear;
}

.grid-tail h3 {
	margin-bottom:0px;
}
.grid-tail h4 {
	text-align: center;
	font-size:17px;
	margin-bottom:40px;
}



/* iziModal（モーダル）
---------------------------------------------------------------------------------------------------*/
.iziModal .iziModal-content{
	padding-bottom:30px !important;
}
.iziModal * {
    font-size: 15px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:40px;
    text-align: left;

}
.iziModal p{
	padding-bottom:10px;
}
.iziModal a{
	border:1px solid #5796f2;
	padding:5px 20px;
	text-decoration:none;
	color:#5796f2;
	margin-bottom:20px;
}
.iziModal a:hover{
	color:#fff;
	background:#5796f2;	
}

.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-button {
    height: 30px;
    width: 30px;
    margin-top: -7px;
}

