@charset "utf-8";

body {
	counter-reset: number 0;           /* number のカウンタを 0 にセット */
}
/* index
----------------------------------------------------------------------------------------------------*/
/* mainimg */

#page_index .about {
	margin:0 auto;
	padding-top:10px;
	padding-bottom:40px;
    position: relative;

}
#page_index .about .left {
    position: absolute;
    top: 30px;
    left: 0;
}
#page_index .about .right {
    position: absolute;
    top: 30px;
    right: 0;
}
#page_index .about .center {
    /* float: left; */
    /* vertical-align: top; */
    display: block;
    margin: 0 auto;
    text-align: center;

}
#page_index .about .center img {
	padding-left:60px;
	padding-top:50px;
	padding-bottom:10px;
}
#page_index .about .center p {
	font-size:18px;
	letter-spacing: 1px;
	font-family : 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif ;
}

#page_index .menu {
	background: #e2ead3;
	padding-top:40px;
	padding-bottom:40px;
}

#page_index .menu ul li {
	float:left;

}
#page_index .menu ul li a .photo {
	overflow: hidden;
	height: 171px;
	width: 480px;
	z-index: 1;

}
#page_index .menu ul li a img {



    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
#page_index .menu ul li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#page_index .menu ul li:nth-child(even){
	margin-left:30px;
}

#page_index .menu ul li:nth-child(1){
	margin-bottom:25px;
}
#page_index .menu ul li:nth-child(2){
	margin-bottom:25px;

}

#page_index .menu ul li .box {
	background: #fff;
	padding-top:10px;
	padding-bottom:10px;
	z-index: 2;
}


#page_index .menu ul li .box h3 {
	font-size: 16px;
	line-height: 1;
	border-left:3px solid #62b256;
	margin-left:10px;
	padding-left:10px;
}
#page_index .menu ul li .one h3 {
	line-height: 2;
}

#page_index .menu ul li .box h3 span {
	display: block;
	font-size:12px;
	padding-bottom:4px;
}

#page_index .news {
background: #f3f3f3;
padding-bottom:40px;
}
#page_index .news h2 {
	padding-top:30px;
	padding-bottom:20px;

}




#page_index .news .tab{
	overflow:hidden;
}
#page_index .news .tab li{
	background:#999999;
	font-size:15px;
	float:left;
	margin-right:5px;
}
#page_index .news .tab li a{
	color: #fff;
    display: block;
    padding: 10px 40px;
}
#page_index .news .tab li.select{
	background:#e58f8f;
}
#page_index .news .content {
	border:1px solid #cccccc;
}
#page_index .news .content li{
	background:#fff
}

#page_index .news .hide {
	display:none;
}

#page_index .news dl {
	padding:20px 0;
	border-bottom:1px solid #cccccc;
	display: table;
	width: 96%;
	margin:0 auto;
}
#page_index .news dl:last-child {
	border-bottom:none;
}
#page_index .news dl dt .cat {
	background: #e58f8f;
	color:#fff;
	padding:3px 30px;
	margin-left:30px;
	margin-right:20px;
}

#page_index .news dl dt {
	display: table-cell;
	width: 140px;
	font-size:14px;
}

#page_index .news dl dd {
	display: table-cell;
	width: 860px;
	font-size:14px;
}
#page_index .news dl dd a:hover {
	color:#e58f8f;
}
#page_index .news img:hover { opacity:0.7;
filter: alpha(opacity=70);
-ms-filter: "alpha( opacity=70 )";}

/* company
----------------------------------------------------------------------------------------------------*/
#page_company .title h2 {
	padding-top:40px;
	margin-bottom:0px;
}
#page_company .title {
	background: #F9F8E5;
}

#page_company .title .photo {
		background: url(../../images/company_obi.jpg) center;
		background-size: cover;
		height: 355px;

}
#page_company .title .text {
	font-size:15px;
	text-align: center;
	padding-bottom:40px;

}

#page_company .company  {
	background:#F3F3F3;
	padding-bottom:50px; 
}


#page_company .company h2 {
	padding-top:35px;
}

#page_company .company dl {
	border-bottom:1px solid #CCCCCC;
	margin:0 auto;
	display: table;
	font-size:16px;

}

#page_company .company dl dt {
	display: table-cell;
	width: 240px;
	padding:10px 0;
	vertical-align: middle;
	padding-left:30px;
}

#page_company .company dl dd {
	display: table-cell;
	width: 760px;
	padding:20px 0;
}

#page_company .careerfit_next {
	padding:50px 0 60px;
}
#page_company .careerfit_next img {
	margin:0 auto;
	display: block;
}
#page_company .link_bnr {
	background: #F9F8E5;
	text-align: center;
	padding-bottom:60px;
}
#page_company .link_bnr h2 {
	padding-top:40px;
	margin-bottom:0px;
}
#page_company .link_bnr a img:hover {
	opacity: 0.7;
}
#page_company #contents {
    margin: 0 auto;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: -25px;
    color: #505050;
}


/* house
----------------------------------------------------------------------------------------------------*/

#page_house .news {
	padding-bottom:20px;
}
#page_house .news .linkbtn1 {
	margin:0 auto;
	display: block;
	text-align: center;
	margin:33px 0 30px;

}
#page_house .news h3 {
	font-size: 24px;
	text-align: center;
	color:#1a1a1a;
	padding:35px 0;
}
#page_house .news h3 .small {
	font-size: 20px;
}

#page_house .house h2 {
	text-align: center!important;	
	margin:0 auto;
	letter-spacing: 1px;
	padding-bottom:50px;
}
#page_house .house h3 {
	font-size: 24px;
	margin-bottom:25px;
}

#page_house .house p {
	line-height: 1.7;
}
#page_house .house .grid {
	display: table;
	width: 100%;
	padding-bottom:64px;

}
#page_house .house .photo {
	display: table-cell;
	width: 50%;

}

#page_house .house .text {
	padding-left:40px;
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

#page_house .support {
	background: url(../../images/bgimg1.jpg) center;
	background-size: cover;
	height:728px;

}
#page_house .support h2 {
	font-size:26px;
	padding-top:45px;
	padding-bottom:35px;
}

#page_house .support ul li {
	background: #fff;
	font-size:19px;
	margin-bottom:25px;
	padding:8px 0;
}
#page_house .support ul li:before {
    content: url(../../images/check_icon1.jpg);
    margin: 10px;
    position: relative;
    padding-right:2px;
    top: 5px;
}

#page_house .support .box .left {
	margin-right:19px;
	float:left;

}
#page_house .support .box .right {
	float:left;
}

/* roomtype
----------------------------------------------------------------------------------------------------*/
#page_house .roomtype {
	padding-bottom:40px;
}
#page_house .roomtype ul li {
	width: 33.3333%;
	float: left;
}

#page_house .roomtype dl dt {
	color:#fff;
	text-align: center;
	font-size: 22px;
	padding:3px 0 6px;
}
#page_house .roomtype dl dt span {
	font-size: 15px;
	padding-left:10px;
}
#page_house .roomtype .col1 dt {background: #ef6f8e;}
#page_house .roomtype .col2 dt {background: #d34071;}
#page_house .roomtype .col3 dt {background: #ef6f8e;}

#page_house .roomtype dd {
	text-align: center;
}
#page_house .roomtype dd p {
	font-size: 16px;
	padding-top:20px;
	line-height: 1.4;
	font-weight: bold;
	color: #333333;
}

#page_house .roomtype dd .area {
	font-size: 15px;
	padding-top:0px;
	font-weight: normal;
	color: #754c24;
}

#page_house .roomtype .grid{
	padding-top:27px;
}

#page_house .roomtype .grid h3 {
	margin-bottom:7px;
}

/* page_house.guide
----------------------------------------------------------------------------------------------------*/
#page_house.guide .pagelink_col3 ul {
	margin-bottom:5px;
}
#page_house.guide .pagelink_col3 ul li a {
    width: auto;
    padding: 10px 29px!important;
}
#page_house.guide .require .grid {
	margin-bottom:35px;
}
#page_house.guide .require .grid ul {
	padding-top:15px;
}
#page_house.guide .require .grid ul li {
	list-style-type: disc;
	margin-left:20px;
}
#page_house.guide .cost {
	padding:40px 0 50px;
}
#page_house.guide .cost ul  {
	padding-top:20px;
}
#page_house.guide .cost ul li:before {
	content: "※";
}
#page_house.guide .cost h4 {
	color:#e05c5c;
	margin-top:25px;
	font-size: 20px
}

#page_house.guide .about {
	padding-top:50px;
}

#page_house.guide .about dl {
	border-bottom:1px solid #cccccc;
}
#page_house.guide .about dl dt{
	padding:20px 0;
	font-size: 18px;
}
#page_house.guide .about dl dt .pink {
	color:#ef6f8e;
	padding-right:5px;
}

#page_house.guide .about dl dd {
	padding-bottom:25px;
}

#page_house.guide .about dl:last-child {
	margin-bottom:40px;
}
#page_house.guide .about dl dd ul li {
	list-style-type: disc;
	margin-left:20px;
}

#page_house.guide .disease h3 {
	margin-bottom:20px;
}
#page_house.guide .disease ul {
	width: 100%;
}
#page_house.guide .disease ul li {
	float:left;
	width: 14.28%;
}

#page_house.guide .disease ul li dl dt {
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	padding:10px 0;

	background: #ed8888;
	color:#fff;
	text-align: center;
}

#page_house.guide .disease ul li dl dd {
	border-left:1px solid #999999;
	text-align: center;
	padding:10px 0;
}

#page_house.guide .disease ul.grid2 li dl {
	border-bottom:1px solid #999999;
}

#page_house.guide .disease ul li:last-child dl {
	border-right:1px solid #999999;
}
#page_house.guide .disease p {
	padding-top:18px;
	padding-bottom:75px;
}


#page_house.about .features .point {
	width: 100%;
	display: table;
	padding:40px 0;
}

#page_house.about .features .point .photo {
	width: 220px;
	display: table-cell;
}


#page_house.about .features .point .text {
	width: 670px;
	display: table-cell;
	vertical-align: top;
	padding-left:30px;
}

#page_house.about .features h2 {
	font-size: 17px;
	text-align: center;
	margin-top:-30px;
	margin-bottom:20px;
}

#page_house.about .features .point .text h4 {
	color:#ef6f8e;
	font-size: 20px;
}
#page_house.about .features .point .text h4 .underline {
	width: 100%;
	padding-top:16px;
	margin-bottom:16px;
}
#page_house.about .features .point .text h4 .underline .left {
	width: 35px;
	float:left;
	border-bottom:3px solid #ef6f8e;
}
#page_house.about .features .point .text h4 .underline .right {
	float:left;
}

#page_house.about .features .point .text h5 {
	font-size: 22px;
	color:#333333;
	margin-bottom:16px;
}

#page_house.about .features .point .text ul {
	margin-top:17px;
	margin-bottom:25px;
	margin-left:17px;
}
#page_house.about .features .point .text ul li {
	list-style: disc;
	font-size: 15px;
}
#page_house.about .location {
	padding-bottom:60px;
}
#page_house.about .location h2 {
	text-align: center;
	font-size: 15px;
	margin-top:-20px;
	margin-bottom:35px;
}
#page_house.about .location h3 {
	margin-top:30px;
}

#page_house.about .location .box .left iframe {
	width: 380px;
	height: 445px;
}

#page_house.about .location .box .left {
	width: 400px;
	float:left;
}
#page_house.about .location .box .right {
	width: 500px;
	float:left;
	padding-left:30px;
}
#page_house.about .location .box .right ul {
	margin-top:13px;
	margin-bottom:13px;
}
#page_house.about .env .top {
	padding:40px 0;
}
#page_house.about .env .top h3 {
	font-size: 22px;
	margin-bottom:35px;
	text-align: center;
}
#page_house.about .env .top p {
	font-size: 15px;
	text-align: center;
}
#page_house.about .env .bottom {
	padding:40px 0;
}
#page_house.about .env .bottom img {
	margin:0 auto;
	display: block;
	text-align: center;
}
#page_house.about .env .bottom ol {
	background: #fff;
	width: 690px;
	margin:0 auto;
	margin-top:35px;
	padding-left:35px;
	padding-top:20px;
	padding-bottom:20px;
}

#page_house.about .env .bottom {
	padding-bottom:60px;
}

	#page_house.about .env .bottom ol li {
	font-size: 15px;
	padding:0 10px;
}
#page_house.about .env .bottom ol .left {
	width: 42%;
	float:left;
	padding-left:25px;
}
#page_house.about .env .bottom ol .right {
	width: 58%;
	float:left;
	padding-left:0px;
}

/* page_house.diary
----------------------------------------------------------------------------------------------------*/
#page_house.diary .diary {
	padding-bottom:40px;
}

#page_house.diary .diary h3 {
	font-size: 24px;
	text-align: center;
	padding:40px 0 30px;
}


/* page_visitcare
----------------------------------------------------------------------------------------------------*/
#page_visitcare .title h2{
	text-align: center;
	font-size:30px;
	color:#009245;
}
#page_visitcare .title p{
	font-size:18px;
	text-align:center;
	padding-bottom:30px;
}
#page_visitcare .service {
	padding:48px 0 54px;
}
#page_visitcare .service ul {
	margin:0 auto;
	display: block;
}
#page_visitcare .service ul li {
	width:280px;
	float:left;
	background:#62b256;
	padding:18px 0 25px;
}
#page_visitcare .service ul:nth-of-type(1) li {
	margin-bottom:32px;
}
#page_visitcare .service ul li:nth-child(1) {
	margin-right:38px;
}
#page_visitcare .service ul li:nth-child(2) {
	margin-right:38px;
}
#page_visitcare .service ul li img {
	margin:0 auto;
	display: block;
}
#page_visitcare .service ul li h3 {
	text-align: center;
	color:#fff;
	font-size:18px;
}
#page_visitcare .introduction {
	padding:60px 0 65px;
}
#page_visitcare .introduction .grid {
	width:100%;
}
#page_visitcare .introduction .grid:nth-of-type(1) {
	margin-bottom:47px;
}
#page_visitcare .introduction .photo {
	width:460px;
	float:left;
}
#page_visitcare .introduction .text {
	width:415px;
	float:left;
	margin-left:45px;
}
#page_visitcare .introduction .text h3 {
	margin-bottom:10px;
}
#page_visitcare .introduction .text p {
	line-height:1.5;
}
#page_visitcare .introduction .text h3 span {

	font-size:15px;
}
#page_visitcare .use h3 {
	font-size:22px;
	text-align:center;
	padding:40px 0 30px;
}
#page_visitcare .use p {
	padding:25px 0 30px;
	margin-bottom: 0;
}
#page_visitcare .use table .c1 {width:105px;background:#fff;}
#page_visitcare .use table .c2 {width:360px;background:#e6e6e6;}
#page_visitcare .use table .c3 {width:205px;background:#e6e6e6;}
#page_visitcare .use table .c4 {width:100px;background:#e6e6e6;line-height:1.3;}
#page_visitcare .use table .c5 {width:230px;background:#fced97;line-height:1.3;}
#page_visitcare .use table .row2 {background:#f3c4c4;}
#page_visitcare .use table .row3 {background:#f9be9c;}
#page_visitcare .use table .row4 {background:#ece582;}
#page_visitcare .use table .row5 {background:#b0d790;}
#page_visitcare .use table .row6 {background:#b1d9d3;}
#page_visitcare .use table .row7 {background:#a3bed6;}
#page_visitcare .use table .row8 {background:#c9bdd9;}
#page_visitcare .use table td {background:#fff;vertical-align: top;}
#page_visitcare .use table td.en {background:#fff;text-align:center;vertical-align: middle;font-size:16px;}
#page_visitcare .use table td.jiko-en {background:#fced97;;text-align:center;vertical-align: middle;font-size:22px;font-weight:bold;}
#page_visitcare .use table th {border:1px solid #999;text-align:center;padding:8px 0;}
#page_visitcare .use table td {border:1px solid #999;padding:8px;}
#page_visitcare .use table h4 {font-weight: bold;font-size:16px;}
#page_visitcare .use table h5 {font-weight: bold;font-size:15px;}

section.form form table td input[type=text] {
	padding: 3px 8px;
}
section.form form table td input[type=radio] {
	padding-right: 10px;
	display: inline-block;
}
section.form form table td label {
	display: inline-block;
	cursor:pointer;
	padding-right:10px;
}
section.form form table td textarea {
	padding: 10px;
	width:100%;
}
section.form form p.submit {
	text-align: center;
	margin: 20px 0 80px;
}
section.form form p.submit input {
	background: #4d9db9;
	border: none;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 auto;
	padding: 18px 70px 18px 75px;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
section.form form p.submit input:hover {
	background: #179ba5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
section.form form p.submit input:after {
	content: '→';
	padding-left: 10px;
}

/* page_careplan
----------------------------------------------------------------------------------------------------*/
#page_careplan .title h2{
	text-align: center;
	font-size:30px;
	color:#009245;
}
#page_careplan .title p{
	font-size:16px;
	text-align:center;
	padding-bottom:4%;
}
#page_careplan .trouble {
	padding:4% 0;
}
#page_careplan .trouble h2 {
	font-size:18px;
	text-align: center;
	margin-bottom: 4%;
}
#page_careplan .trouble ul {
	margin:0 auto;
	display: block;
}
#page_careplan .trouble ul li:nth-child(1),
#page_careplan .trouble ul li:nth-child(3) {
	margin-right:30px;
}
#page_careplan .trouble ul li:nth-child(1),
#page_careplan .trouble ul li:nth-child(2) {
	margin-bottom:28px;
}
#page_careplan .trouble ul li {
	width:465px;
	float:left;
	background:#fff;
}
#page_careplan .trouble ul li img {
		float:left;
}
#page_careplan .trouble ul li h3 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    padding-left:10px;
}
#page_careplan .trouble ul li h3.r1 {
	padding-top:48px;
}
#page_careplan .trouble ul li h3.r2 {
	padding-top:34px;
}
#page_careplan .trouble .arrow img {
    text-align: center;
    display: block;
    margin: 0 auto;
}
#page_careplan .trouble h4{
padding-top: 10px;
		font-size:24px;
		font-weight: bold;
		color:#849604;
		text-align:center;
}
#page_careplan .trouble p{
		font-size:18px;
		text-align:center;
}
#page_careplan .region {
	padding:60px 0 55px;

}
#page_careplan .region .box {
	width:795px;
	border:5px solid #e2ec99;
    text-align: center;
    padding: 10px 0;
}
#page_careplan .region .box h3 {
	background:#99b31f;
	color:#fff;
	display: inline-block;
	padding:3px 100px;
	margin:15px auto;
	font-size:18px;
}
#page_careplan .region .box p {
		font-size:16px;
}
#page_careplan .structure {
	padding:35px 0 40px;
}
#page_careplan .structure h3 {
		font-size:22px;
		text-align: center;
		    margin-bottom: 20px;
		font-weight: bold;
}
#page_careplan .structure p {
		font-size:15px;
		width:675px;
		margin:0 auto;
}
#page_careplan .flow {
	padding-bottom:20px;
}
#page_careplan .flow h3 {
		font-weight: bold;
		font-size:22px;
		text-align: center;
		    padding-top: 30px;
}
#page_careplan .flow img{
    display: block;
    margin: 0 auto;
}
#page_careplan .service {
	padding:0 0 40px;
}

#page_careplan .service h2 {
		font-weight: bold;
		font-size:22px;
		text-align: center;
		    padding: 30px 0 20px;
}
#page_careplan .service .box {
		width:750px;
		margin:0 auto 30px;
}
#page_careplan .service .left {
		width:49%;
		float:left;
		margin-right:2%;
}
#page_careplan .service .right {
		width:49%;
		float:left;
}
#page_careplan .service .left h3 {
	background:#808080;
	color:#fff;
	padding:7px 0;
	text-align:center;
	margin-bottom:1%;
}
#page_careplan .service .left h4 {
	background:#f48c96;
	color:#fff;
	padding:7px 0;
	text-align:center;
}
#page_careplan .service .right h3 {
	background:#808080;
	color:#fff;
	padding:7px 0;
	text-align:center;
	margin-bottom:1%;
}
#page_careplan .service .right h4 {
	background:#f48c96;
	color:#fff;
	background:#29abe2;
	padding:7px 0;
	text-align:center;
}
#page_careplan .service ul {
	padding:20px 0 0 20px;
}
#page_careplan .service .linkbtn {
    text-align: center;
}
#page_careplan .service .linkbtn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 14px 50px 15px 26px;
    margin-top: 0px;
    line-height: 1.7;
    position: relative;
    border-radius: 5px;
    background: #99b31f;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_careplan .service .linkbtn a:hover {
	background:#c1d62b;
}
#page_careplan .service .linkbtn a:before {
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    content: "";
    right: 10px;
    top: 20px;
}
#page_careplan .service .linkbtn a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #99b31f;
    border-right: 1px solid #99b31f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* contact
----------------------------------------------------------------------------------------------------*/

#page_contact section.contact table{

	margin:20px 0px 0px;
font-size:15px;
font-size:1.5rem;
	width:100%;
		background:#fff;

}
#page_contact section.contact table th{
	color:#333333;
text-align:left;
width:270px;
  background:#f9f8e5;
	padding:17px 30px 15px;
  border:1px solid #999999;

}
#page_contact section.contact table th em{
	color:#f00;
	padding-left:5px;
}
#page_contact section.contact table td{
text-align:left;
	background:#fff;
  border:1px solid #999999;
	padding:17px 30px 15px;
}
#page_contact section.contact table td .title{
	padding-right:10px;
}
#page_contact section.contact table td #tel {
	margin-bottom:15px;
}
#page_contact section.contact .submit {
	text-align:center;
}
#page_contact section.contact .submit input, .mw_wp_form_confirm .submit input {
    background: #e85858;
    border: 1px solid #e85858;
    color: #fff;
    font-size: 15px;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 40px auto 60px;
    padding: 16px 80px 16px 85px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

#page_contact section.contact .mw_wp_form_confirm table th em {
	display: none;
}
#page_contact section.contact .submit input:hover, .mw_wp_form_confirm .submit input:hover {
	background:#ff6262;
}
#page_contact section.contact h2 {
	font-size:28px;
	margin-top:40px;
}
#page_contact section.contact .box {
		width:100%;
		margin-bottom:75px;
		margin-top:90px;
}
#page_contact section.contact .photo {
		width:50%;
		float:left;
}
#page_contact section.contact .text {
		width:50%;
		float:left;
}
#page_contact section.contact .text h3 {
	font-size:18px;
	margin-bottom:15px;
}

#page_contact section.contact .step{
  list-style-type: none;
  display:table;
  width:100%;
  padding:0;
  margin:0;
  overflow:hidden;
    text-align: center;
}
#page_contact section.contact .mw_wp_form_confirm  {
	margin-top:40px;
}
#page_contact section.contact .mw_wp_form_complete p  {
    background: #f9f8e5;
    margin-top: 40px;
    font-size: 15px!important;
    margin-bottom: 40px;
    border: 1px solid #999999;
}


#page_contact section.contact .step li{
  display:table-cell;
  position:relative;
  background: #c2eab7;
  padding: 1em 0.5em 1em 2em;
  color: #009245;
  font-weight: bold;
}
#page_contact section.contact .step li:last-child{
  padding-right: 1em;
}
#page_contact section.contact .step li:last-child:before,
#page_contact section.contact .step li:last-child:after{
  display:none;
}
#page_contact section.contact .step li:before,
#page_contact section.contact .step li:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
#page_contact section.contact .step li:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
#page_contact section.contact .step li:after{
  top:-15px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent #c2eab7;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
#page_contact section.contact .step li.is-current{
  background: #62b256;
  font-weight: bold;
  color:#fff;
}
#page_contact section.contact .step li.is-current:after{
  border-color: transparent transparent transparent #62b256;
}

#page_contact section.contact .privacy a {
	color:#f00;
	text-decoration:underline;
}
#page_contact section.contact .privacy {
	padding-top:10px;
	text-align: center;
}
/* single
----------------------------------------------------------------------------------------------------*/

ul.page_link {
	padding-top: 30px;
	margin-bottom: 30px;
}
ul.page_link li a {
	font-size: 13px;
	display: inline-block;
	padding: 6px 15px 3px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #fefefe;
	text-decoration: none;
	color: #717171;
}
ul.page_link li a:hover {
	background: #efefef;
}
ul.page_link li.prev {
	float: left;
}
ul.page_link li.next {
	float: right;
}
.news_entry {
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
.news_entry .entry-header h3 {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	padding: 3px 0px 10px;
	font-weight: bold;
}
.news_entry .entry-header span.date {
	font-size: 11px;
	line-height: 1;
	margin-right: 15px;
}
.news_entry .entry-header .name {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	color: #B3B3B3;
}
.news_entry .entry-content {
	font-size: 14px;
	font-size: 1.4rem;
}
.news_entry .entry-content img {
	max-width: 100%;
	margin-bottom: 10px;
}
.news_entry .entry-content p {
	margin-bottom: 10px;
}
.news_entry .entry-content h3 {
	background: url(../../images/headline01.gif) no-repeat left center;
	padding-left: 20px;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 10px;
}
.news_entry .entry-content h4 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
}
.news_entry .entry-content strong {
	font-weight: bold;
}
.news_entry .entry-content ul {
	list-style: circle;
}
.news_entry .entry-content ol {
	list-style: decimal;
}
.news_entry .entry-content a {
	text-decoration: underline;
}
.news_entry .entry-content blockquote {
	color: #999;
}
.news_entry .entry-content em {
	color: #000;
	font-weight: normal;
}

/* page_newslist
----------------------------------------------------------------------------------------------------*/
#page_newslist .news {
	padding:40px 0;
}

#page_newslist section.news a{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
#page_newslist section.news dl dd a {
	text-decoration: none;
}
#page_newslist section.news dl dd a:hover {
	color:#62b256;
}


#page_single .entry_header h3 {
	margin-bottom: 20px;
	border-bottom: 1px solid #b3b3b3;
		font-size: 18px;
	padding: 3px 0px 10px;
	font-weight: bold;
}

#page_single .entry_content {
    margin-bottom: 20px;
    padding: 3px 0px 18px;
}


#page_single .entry_content img {
	max-width: 100%;
	margin-bottom: 10px;
}
#page_single .entry_content p {
	margin-bottom: 10px;
	font-size:15px;
	font-weight: 400;
}
#page_single .entry_content h3 {
    border-left: 5px solid #62b256;
    padding-left: 10px;
	font-size:18px;
	font-size:1.8rem;
	font-weight:700;
	margin-bottom:10px;
}
#page_single .entry_content h4 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 17px;
}
#page_single .entry_content strong {
	font-weight: bold;
}

/* page_privacy
----------------------------------------------------------------------------------------------------*/

#page_privacy .top {
	padding-bottom:50px;
}
#page_privacy .top .box {
	width: 100%;
}
#page_privacy .top .photo {
	width: 40%;
	float:left;
}
#page_privacy .top .photo img {
	width: 390px;
}
#page_privacy .top .text {
	width: 58%;
	margin-left:2%;
	float:left;
}
#page_privacy .top p {
    font-size: 16px;
    padding-bottom:20px;
}
#page_privacy .top ol li {
	padding-left:2em;
	text-indent:-2em;
	font-size:15px;
}

#page_privacy .privacy {
	padding-bottom:50px;
	background:#f9f8e5;
}
#page_privacy h2 {
	padding-top:35px;
}

#page_privacy .privacy dl {
	border-bottom:1px solid #CCCCCC;
	margin:0 auto;
	display: table;
	font-size:16px;

}

#page_privacy .privacy dl dt {
	display: table-cell;
	width: 240px;
	padding:10px 0;
	vertical-align: middle;
	padding-left:30px;
}

#page_privacy .privacy dl dd {
	display: table-cell;
	width: 760px;
	padding:20px 0;
}


/* 404
----------------------------------------------------------------------------------------------------*/

section.page404 {
	padding: 60px 0 120px;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
}
#page_404 #contents .box {
		padding: 35px;
    background: #f9f8e5;
    margin-top: 40px;
    font-size: 15px!important;
    margin-bottom: 40px;
    border: 1px solid #999999;
}
#page_404 #contents .box a {
	
}
section.page404 a {
	color: #000;
}
