@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.pc {
	display: none;
}
html,body{
    width: 100%;
}
html {
	background-color: #fff;
		font-size: 62.5%;
}
body {
	text-align: center;
	font-family: Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    line-height: 1.8;
    font-size: 13px;
	font-size:1.3rem;
	color: #353535;
	font-weight:400;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}


/* link */
a {
	color: #1a1a1a;
}
a:link {
	color: #1a1a1a;
    text-decoration: none;
}
a:visited {
	color: #1a1a1a;
}
a:hover {
	color: #1a1a1a;
}

#outer{
	width:100%;
	overflow:hidden;
}

.w100{
	width:100%;
}
.w70{
	width:70%;
}
.w50{
	width:100%;
}
.w40{
	width:40%;
}
.w30{
	width:30%;
}
.w20{
	width:20%;
}
.w10{
	width:10%;
}
.w05{
	width:5%;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 見出し設定 (ページ毎の調整はページで行う) 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.headline01{
	line-height:1.6;
	font-size:26px;
	font-size:2.6rem;
	text-align:center;
	font-weight:700;
	margin-bottom:30px;
	color:#4d4d4d;

}

.headline02{
	color:#4d4d4d;
	line-height:1.6;
	font-size:18px;
	font-size:1.8rem;
	text-align:center;
	margin-bottom:2%;

    padding: 4%;
    text-align:center;
}
.headline02 span.line {
	display: block;
    width: 45px;
    height: 3px;
    background: #b3b3b3;
    margin: 4% auto 4%;}
.headline03{
	color:#333333;
	font-family : 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif ;
	font-size:18px;
	font-size:1.8rem;
	font-weight:bold;
	margin-bottom:10px;
}

.headline04{
	font-size: 18px;
    margin-top: 40px;
    margin-bottom: 28px;
    letter-spacing: 0px;
}
.headline04:before {
    content: url(../../images/headline_obi.png);
    margin-right: -360px;
    position: relative;
    top: 35px;
}

.headline05 {
	font-size: 17px;
	border-left:5px #ef6f8e solid;
    line-height: 1.6;
    color:#333;
    padding-left:15px;
}

.headline06{
	color:#009245;
	line-height:1.4;
	font-size:18px;
	font-size:1.8rem;
	text-align:center;
	padding:0 10px 5px;
	text-align:center;
}
.headline06:before {
    content: url(../../images/headline_east_obi.png);
    margin-right: -84px;
    position: relative;
    top: 47px;
    z-index: -1;
}
.headline06 span.line {
	display: block;
    width: 45px;
    height: 3px;
    background: #b3b3b3;
    margin: 4% auto;
}
.headline07 {
	font-size: 18px;
	border-left:5px #62b256 solid;
    line-height: 1.6;
    color:#333;
    padding-left:15px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 リンクボタン
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* 色なし */
.linkbtn1 {
}
.linkbtn1 a {
    width: 92%;
	display: inline-block;
	background: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 4%;
	line-height: 1;
	border: 1px solid #4d4d4d;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    position: relative;

}
.linkbtn1 a:hover {
	background: #62b256;
	color:#fff;
	border: 1px solid #62b256;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn1 a:after {
	content: "";
    right: 10px;
    top: 20px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.linkbtn1 a:hover:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
/* 色あり */
.linkbtn2{
	text-align:center;
	margin-top:40px;
}
.linkbtn2 a {
	display: inline-block;
border:1px solid #db4545;
	line-height: 1;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 20px 60px 20px 70px;
	color: #fff;
	text-decoration: none;
	background: #db4545;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn2 a:hover {
		background: #fff;
		color:#db4545;
		border:1px solid #db4545;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;


}
.linkbtn2 a:after {
	content: '→';
	padding-left: 10px;
}
.linkbtn3 {
	text-align: right;
}
.linkbtn3 a{
    background: #cccccc;
    text-decoration: none;
    padding: 2% 4%;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    font-size: 13px;
    font-size: 1.3rem;
    color: #1a1a1a;
    margin: 4% 0 4%;
}

.linkbtn3 a:hover {
	background: #eae8e8;
	color:#1a1a1a!important;
}


.linkbtn4{

}
.linkbtn4 a{
	border:1px solid #999;
	text-decoration:none;
	    padding: 8px 53px 8px 46px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	font-size:13px;
	font-size:1.3rem;


	margin-top:10px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.linkbtn4 a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn4 a:hover {
		background: #fff;
		color:#db4545 !important;
		border:1px solid #db4545 !important;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;


}

.linkbtn5{

}
.linkbtn5 a{
	border:1px solid #d1d1d1;
	text-decoration:none;
    padding: 8px 98px 8px 91px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	font-size:13px;
	font-size:1.3rem;
	margin-top:10px;
	text-align:center;
	display:inline-block;
	position:relative;
}
.linkbtn5 a::before {
	position: absolute;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	content: "";
    right: 10px;
    top: 15px;
}

.linkbtn5 a::after {
	content: "";
	position: absolute;
    top: 20px;
	right: 15px;
	width: 3px;
	height: 3px;
	border-top: 1px solid #5796f2;
	border-right: 1px solid #5796f2;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn5 a:hover {
		background: #db4546;
		color:#fff;
		border:1px solid #db4545;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


#pan{
x	display: none;
font-size:11px;
margin-bottom:20px;
}


#contents p {
	font-size: 13px;
}
/*++++++++++++++++++++++++++++++
 bg_color
++++++++++++++++++++++++++++++*/
.bg_gray {
	background: #f3f3f3;
}
.bg_yellow {
	background: #f9f8e5;
}
.bg_white {
	background: #fff;
}
.bg_beige { background: #eae4d6; }

.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb25 { margin-bottom:25px;}

/*++++++++++++++++++++++++++++++
　　table
++++++++++++++++++++++++++++++*/

table.style01{

	margin:20px 0px 0px;
font-size:15px;
font-size:1.5rem;
	width:100%;
		background:#fff;

}
table.style01 th{
	color:#fff;
	background:#ed8888;
	border:1px solid #999999;
    padding: 2px 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 11px;
    min-width: 5em;
}
table.style01 th em{
	color:#f00;
	padding-left:5px;
}
table.style01 td{
text-align:center;
	background:#fff;
  border:1px solid #999999;
padding: 2px 5px;
    border: 1px solid #ccc;
    font-size: 11px;
    min-width: 5em;

}

table.style02{

	margin:20px 0px 0px;
font-size:15px;
font-size:1.5rem;
	width:100%;
		background:#fff;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;

}
table.style02 th{
text-align:left;
width:100%;
display: block;
  background:#f2f2f2;
padding:2% 4%;
  border-top:1px solid #ccc;
}


table.style02 th em{
	color:#ed1c24;
	padding-left:5px;
}
table.style02 td{
text-align:left;
	background:#fff;
  border-top:1px solid #ccc;
display: block;

padding:4%;
}

table.style02 tr:last-of-type td {
  border-bottom:1px solid #ccc;
}

.privacy_cont{
	border:1px solid #aaa;
	padding:20px;
	height:250px;
	overflow:scroll;
}
.contentBlockBody {
	margin-bottom:20px;
}
.privacy_cont h4{
	font-weight:bold;
	font-size:14px;
	font-size:1.4rem;
	margin-bottom:5px;
}
.privacy_cont p {
	margin:0 0 1em;
	font-size:12px;
	font-size:1.2rem;
}
.agree{
	text-align:center;
	margin:20px 0 0;
}
.agree input{
	margin-right:5px;
	position:relative;
	top:1px;
}


/*++++++++++++++++++++++++++++++
　　定義リスト
++++++++++++++++++++++++++++++*/
.newslist {
	font-size: 13px;
	padding:2% 4%;
	width: 100%;
	margin:0 auto;

}

.newslist:nth-child(odd) {
	background: #fff;
}

.newslist:nth-child(even) {
	background: #f9f8e5;
}
.newslist dt {
	width: 100%;
	display: block;
    padding: 0 4%;
}

.newslist dd {
	width: 100%;
	display: block;
    padding: 0 4%;
}


.bg_img1 {
    background: url(../../images/bg_img1.jpg) no-repeat;
    background-size: cover;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 フォーム
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
form input[type="text"],input[type="mail"],textarea,select{
	padding:5px 5px;
	font-size:16px;
	font-size:1.6rem;
	width: 100%;
}
form input[type="radio"]{
	padding-right:10px;
	padding-left:10px;
	position:relative;
	left:0px;
	top:1px;
}

form span.small{
	font-size:12px;
	font-size:1.2rem;
}
form .mt{
	margin-top:10px;
}
form .wide{
	width:100%;
}
form label{
	margin-right:20px;

}
form .submit_btn{
	text-align:center;
	margin-top:40px;
}
form .submit_btn input{
	cursor:pointer;
	background:#c30000;
	color:#fff;
	padding:15px 60px;
	display:inline-block;
	border:none;
}

.mw_wp_form_confirm span{
	display:none;
}
form .error{
	color:#f00;
	font-size:13px;
	font-size:1.3rem;
}
form .block label{
	display:block;
	margin-bottom:5px;
	cursor:pointer;
}

/*++++++++++++++++++++++++++++++
　　pager
++++++++++++++++++++++++++++++*/
.pagination {
  text-align: center;

}

.pagination .page, .pagination .page-numbers {
    display: inline-block;
    padding: 4px 7px 5px;
    margin-right: 6px;
    border: solid 1px #999999;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    background:#fff;
    color: #333;
    margin-top: 8%;
    margin-bottom: 8%;}

.pagination .page-numbers.dots {
  border: none;
  background: none;
  box-shadow: none;
}

.pagination a {
  color: #2f4087;
}

.pagination .page:hover, .pagination .page.gradient:hover, .pagination .page-numbers:hover {
  background: #62b256!important;
  color: #fff;
    border: solid 1px #62b256;
}

.pagination .page.active, .pagination .page-numbers.current {
  background: #62b256;
  color: #fff;
  border: solid 1px #62b256;
}

.pagination .page-numbers.dots:hover {
  background: none !important;
}

.pagination .page-numbers.current:hover {
  background: #08A3A3 !important;
}

/*++++++++++++++++++++++++++++++
　アニメーション
++++++++++++++++++++++++++++++*/
.list-mv01 {
	opacity: 0;
	transform: translate(0, 60px);
	-webkit-transform: translate(0, 60px);
}
.mv01 {
	opacity: 1.0;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}