@charset "utf-8";



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {overflow: hidden;width: 100%;}
.wrapper {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper960 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper940 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper920 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper910 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper880 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper790 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper750 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper660 {width: 100%;padding: 0 0px;margin: 0 auto;text-align: left;}

/* header
----------------------------------------------------------------------------------------------------*/

/* header
----------------------------------------------------------------------------------------------------*/
#pan {
	display: none;
}
header.global {
	display: none;
}
header.drawermenu {
	position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0px 1px 6px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 6px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 6px -3px rgba(0, 0, 0, 0.5);
    height: 55px;
}

header.drawermenu img {
    margin-top: -0.5%;
    width: 158px;
}

header.drawermenu .drawer-hamburger {
    padding: 16px 3% 8%;
    position: fixed;
    z-index: 99999;
}
header.drawermenu .drawer-brand {
/*    margin: 4% -4% 0%;*/
    max-width: 200px;
        margin-left: -15px;
}
header.drawermenu .drawer-brand img {
      width: 84%;
      height: auto;
        margin-top: 7px;
}

header.drawermenu li.root {
	background:#08A3A3;
}
header.drawermenu li.root a {
	color:#fff;
}
header.drawermenu .drawer-menu-item {
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 3% 8%;
	position: relative;
	font-size: 14px;
	font-size: 1.4rem;
	background
}
header.drawermenu .color .drawer-menu-item {
    background: #62b256;
    color: #fff;
	border-bottom: 1px solid #ccc;
}

header.drawermenu li #acMenu {
    background: #62b256;
    color: #fff;
}
header.drawermenu li #acMenu dt {
	border-bottom: 1px solid #ccc;
}
header.drawermenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header.drawermenu .drawer-menu-item:after {
  position: absolute;
  top: 50%;
  right: 4%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header.drawermenu .color .drawer-menu-item:after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

header.drawermenu .drawer-menu-item:hover {
        text-decoration: underline;
        /*background-color: #f2f2f2*/
}
.drawer-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 60%;
    height: 100%;
    color: #222;
    background-color: #fff;
    z-index: 99999;
}
header .menu {
	height: 30px;
	text-align: right;
	overflow: hidden;
	position: absolute;
	top: 13px;
	right: 5px;
}
header .menu img {
	padding: 0px 7px 0 0;
}
#closeMenu {
	display: none;
	z-index: 10001;
}
#openMenu img, #closeMenu img {
    width: 30px;
    height: auto;
    z-index: 10001;
}
#overray {
	display: none;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	    margin-top: 55px;
}
#closeMenu {
	display: none;
}
#layerMenu {
	border-top:1px solid #776f26;
	    margin-top: 43px;
	position: absolute;
	top: 0px;
	display: none;
	width: 100%;

	z-index: 10010;
	background:rgba(50,32,10,1);
}
/* メニュー */
nav table {
	overflow: hidden;
	background: #e2d9d8;
	width:100%;
}
nav table td {
	width: 50%;
	text-align: left;
	vertical-align: middle;
	border-bottom: #776f26 solid 1px;
	border-left: #776f26 solid 1px;
}

nav table td:first-child {
	border-left: none;
}
nav table tr:last-child td {
	border-bottom: none;
}
nav table td a {
		font-size:13px;
	text-decoration: none;
	padding: 4.5% 2% 4% 6%;
	display: block;
	position: relative;
	text-align: left;
	overflow: hidden;
}
nav table td.col1 {
	text-align:center;
}
nav table td.col1 a{
	padding: 3% 1% 3% 3%;
}
nav table td a:hover {
	text-decoration:none;
			color:#ff7a00 !important;
}
nav table td a img{
	width:80%;
}
nav table td a::after {
	position: absolute;
	top: 50%;
	right: 11px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #776f26;
	border-right: 1px solid #776f26;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/



/* footer
----------------------------------------------------------------------------------------------------*/
.footer_logo {
	padding:4% 0;
}
footer nav {
    background: #62b256;
    padding: 4% 4% 0;
}
footer nav ul {
	background:rgba(255,255,255,0.98);
	margin: 0 0% 0%;
}
footer nav ul li {
	padding: 0% 0%;
}
footer nav ul.left {
	border-top: 1px solid #aaa;
}
footer nav ul li a {
	text-align:left;
	text-decoration:none;
	display: block;
	border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
	padding: 3% 8% 3% 4%;
	position: relative;
	font-size:14px;
	font-size:1.4rem;
}
footer nav ul.left li:first-child a{
x	border-top: 1px solid #aaa;
}
footer .comp {
    color: #000;
    width: 92%;
    margin:4% auto 4%;
}
footer nav ul li a::after {
	position: absolute;
	top: 50%;
	right: 4%;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -3px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
footer nav ul li .isms {
	display: none;
}
footer.global .copy {
    color: #fff;
    background: #333333;
    text-align: center;
    font-size: 11px;
    font-size: 1.1rem;
    padding: 2% 0 4%;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}




/* footer
----------------------------------------------------------------------------------------------------*/
footer {
	background: #fff;
	color:#fff;
}



footer .copy {
    background: #62b256;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 2% 4%;
    line-height: 1.8;
}


/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/

/* アコーディオン
----------------------------------------------------------------------------------------------------*/
#acMenu dt {
  border-bottom: 1px solid #aaa;
  text-align: left;
  padding: 3% 4%;
  font-size: 15px;
  font-size: 1.5rem;
}

#acMenu dd {
  background: #ffffff;
  text-align: center;
  display: none;
  margin: 0px;
  padding: 0px;
}

#acMenu .accordion_icon, .accordion_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

#acMenu .accordion_icon {
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
	margin-right: -5px;
	top: 7px;
  margin-bottom: 0px !important;
}

#acMenu .accordion_icon span {
  position: absolute;
  left: 6px;
  width: 50%;
  height: 1px;
  background-color: #aaa;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

#acMenu .accordion_icon span:nth-of-type(1) {
  top: 5px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

#acMenu .accordion_icon span:nth-of-type(2) {
  top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
#acMenu .accordion_icon.active span:nth-of-type(1) {
  display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(2) {
  top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


/* pagetitle(ページタイトル)
----------------------------------------------------------------------------------------------------*/

#pagetitle {
    position: relative;
    width: 100%;
    text-align: center;
    /* background: #333; */
x    padding: 8% 0;
    font-size: 18px;
	margin-top: 56px;

}

#pagetitle .wrapper {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight:bold;
}

#pagetitle h3 span {
	display: block;
	font-size: 13px;
	line-height: 1.5;
}

#pagetitle h3 {
	line-height: 1.5;
    font-size: 18px;
    color: white;
    xfont-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    z-index: 3;

}


#page_visitcare #pagetitle h3 span,
#page_careplan #pagetitle h3 span {
	background:#62b256;
	color:#fff;
	padding:5px 20px;
	margin-bottom:5px;
}

#page_company #pagetitle,
#page_contact #pagetitle,
#page_single #pagetitle,
#page_newslist #pagetitle,
#page_404 #pagetitle {

	background:url(../../images/pagetitle_main.jpg) no-repeat center center;	
	background-size:cover;
}

#page_house #pagetitle {
	background:url(../../images/pagetitle_house.jpg) no-repeat center center;	
	background-size:cover;
}

#page_visitcare #pagetitle,
#page_privacy #pagetitle,
#page_careplan #pagetitle {
	background:url(../../images/pagetitle_east.jpg) no-repeat center center;	
	background-size:cover;
}

#pagetitle .bg {
    position: relative;
    width: 100%;
    text-align: center;
    /* background: #333; */
    padding: 8% 0;
    font-size: 18px;
x    margin-top: 56px;
    background:rgba(0,0,0,0.25);
}

/* pagelink_col3
----------------------------------------------------------------------------------------------------*/

.pagelink_col2 {
	border:#e6e6e6 7px solid;
	width: 92%;
	margin:4% auto;
}

.pagelink_col2 ul {
    margin: 4% ;
}
.pagelink_col2 ul li {
	float:left;
	margin-bottom:4%;
  width:100%;
}
.pagelink_col2 ul li:last-child {
  margin-bottom:0%;

}
.pagelink_col2 ul li a {
	display: block;
	width: 100%;
	padding:2% 0!important;
	text-align: center;
	background: #e6e6e6;
	border-radius: 5px;
}
.pagelink_col2 ul li a:hover {
	background: #f4f4f4;
}




.pagelink_col3 {
	border:#e6e6e6 7px solid;
	width: 92%;
	margin:4% auto;
}
.pagelink_col3 ul {
	margin:4%;
}
.pagelink_col3 ul li {
	float:left;
	width:100%;
	margin-bottom:4%;
}

.pagelink_col3 ul li:last-child {
	margin-bottom:0px;
}



.pagelink_col3 ul li a {
	display: block;
	width: 100%;
  padding:2% 0!important;
	text-align: center;
	background: #e6e6e6;
	border-radius: 5px;
}
.pagelink_col3 ul li a:hover {
	background: #f4f4f4;
}



/* menulink(メニューリンク)
----------------------------------------------------------------------------------------------------*/
#house_menulink {
	background: #F9F8E5;
	padding:4% 0;
}
#house_menulink h2 {
  font-size:18px;
  text-align:center;
  padding:0 4% 2%;
}
#house_menulink ul {
	width:92%;
	margin:0 auto;
}
#house_menulink ul li:first-child a {
    border-top: 1px solid #aaa;

}

#house_menulink ul li a {
	background: #fff;
	text-align: left;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 3% 8% 3% 4%;
    position: relative;
    font-size: 14px;
    font-size: 1.4rem;
}
#house_menulink ul li a::after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* contact_link(メニューリンク)
----------------------------------------------------------------------------------------------------*/
#contact_link {
	background:url(../../images/contact_link.jpg) no-repeat;	
	background-size:cover;
	padding:2% 0 4%;
}
#contact_link h2 {
    text-align: center;
    color: #0071bc;
    border: 1px solid #0071bc;
    padding: 1% 4%;
    display: inline-block;
    margin: 4% auto 4%;
}
#contact_link .wrapper {
	text-align: center;
}

#contact_link h3 {
	font-size:20px;
	line-height:1.4;
	margin-bottom:15px;
}
#contact_link h3 .sm {
	font-size:14px;
	display: block;
}
#contact_link .box {
	width:100%;
}
#contact_link .box {
  width:100%;
    margin: 0 auto;
}
#contact_link .box {
  width:100%;
}
#contact_link .box .tel {
    line-height: 1.5;
    width: 100%;
    margin-bottom: 2%;
   }
#contact_link .box .tel img {
  width:32px;
}
#contact_link .box .tel a {
    color: #0071bc;
   font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom:4%;
}
#contact_link  address {
	margin-bottom: 2%;
}
#contact_link .box .linkbtn {
 	width:100%;

}
#contact_link .box .linkbtn img {
	padding-right:10px;

}
#contact_link .box .linkbtn a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    padding: 14px 50px 15px 26px;
    margin-top: 0px;
    line-height: 1.7;
    width: 92%;
    position: relative;
    border-radius: 5px;
    background: #29abe2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#contact_link .box .linkbtn a:hover {
	background:#33caff;
}
#contact_link .box .linkbtn a:before {
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    content: "";
    right: 10px;
    top: 20px;
}
#contact_link .box .linkbtn a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #29abe2;
    border-right: 1px solid #29abe2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* contact_link(メニューリンク)
----------------------------------------------------------------------------------------------------*/
#azeria_contact_link {
  background:url(../../images/contact_azeria_link.jpg) no-repeat; 
  background-size:cover;
  padding:4% 0;

}
#azeria_contact_link h2 {
    text-align: center;
    font-size: 18px;
    margin: 0px auto 5px;
}
#azeria_contact_link .wrapper {
  text-align: center;
}
#azeria_contact_link p {
  font-size:15px;
  padding-top:10px;
  color:#fff;
}

#azeria_contact_link .bg_white {
  width:92%;
  margin:0 auto;
  padding:4% 0 2%;
}

#azeria_contact_link h3 {
  font-size:18px;
  line-height:1.4;
  margin-bottom:4%;
}
#azeria_contact_link h3 .sm {
  font-size:13px;
  display: block;
}
#azeria_contact_link .box {
    width: 100%;
    margin: 0 auto;
}
#azeria_contact_link .box .tel {
    line-height: 1.4;
    padding-bottom: 4%;
    width: 100%;
}
#azeria_contact_link .box .tel a {
    color: #fff;
   font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}
#azeria_contact_link  address {
    margin-bottom: 4%;
    font-size: 13px;
}
#azeria_contact_link .box .linkbtn {
  width:100%;

}
#azeria_contact_link .box .linkbtn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 14px 50px 15px 26px;
    margin-top: 0px;
    line-height: 1.7;
    width:92%;
    position: relative;
    border-radius: 5px;
    background: #ef6f8e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#azeria_contact_link .box .linkbtn a:hover {
  background:#ff7da2;
}
#azeria_contact_link .box .linkbtn a:before {
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    content: "";
    right: 10px;
    top: 20px;
}
#azeria_contact_link .box .linkbtn a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #ef6f8e;
    border-right: 1px solid #ef6f8e;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* グリッド

----------------------------------------------------------------------------------------------------*/
.grid-tail {
	padding-top:4%;
}

.grid-tail ul {
	width: 100%;
}
.grid-tail.col4 ul li {
	width: 92%;
	margin:0 auto 4%;
}
.grid-tail.col4 ul li:nth-child(4n) {
	margin-bottom:0;
}

.grid-tail.col3 ul li {
	width: 92%;
	margin:0 auto 4%;
}

.grid-tail.col3 ul li .text {
	padding-top:4%;
	margin-bottom:0px!important;
}

.grid-tail a:hover img {
	opacity: 0.8;
}
.grid-tail a img {
	width:100%;
  transition-property: all;
  transition: 0.3s linear;
}

.grid-tail h3 {
	margin-bottom:0px;
	padding:0 4%;
}
.grid-tail h4 {
	text-align: left;
	font-size:13px;
	margin-bottom:4%;
	padding:0 4%;
}



/* iziModal（モーダル）
---------------------------------------------------------------------------------------------------*/
.iziModal .iziModal-content{
	padding-bottom:30px !important;
}
.iziModal * {
    font-size: 15px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:40px;
    text-align: left;

}
.iziModal p{
	padding-bottom:10px;
}
.iziModal a{
	border:1px solid #5796f2;
	padding:5px 20px;
	text-decoration:none;
	color:#5796f2;
	margin-bottom:20px;
}
.iziModal a:hover{
	color:#fff;
	background:#5796f2;	
}

.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-button {
    height: 30px;
    width: 30px;
    margin-top: -7px;
}

#page_top a {
position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 70px;
}
#page_top a img {
	width:70%;
}
#sidebar h3 {
font-size: 15px;
    text-align: left;
    border-left: 3px solid #f6526d;
    margin-bottom: 2%;
    padding: 0 0 0 2%;
    line-height: 1.5;
    color: #565656;
}

#sidebar .linkbtn1 a{
width: 100%;
    padding: 12px 4%;
    text-align: center;
    font-size: 13px;
    margin-top: 8%;
}
#sidebar .linkbtn1 a:after{
    top: 15px;
}

#sidebar .linkbtn1 a:before{
  width:100%;
  padding:2% 4%;
}