@charset "utf-8";

body {
}
/* index
----------------------------------------------------------------------------------------------------*/
/* mainimg */

#page_index .mainimage {
	position: relative;
}
#page_index .message {
	position: absolute;
	top:30%;
	left:4%;
    font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif;
}


#page_index .about {
	display: table;
	margin:0 auto;
	padding-top:4%;
	padding-bottom:4%;

}
#page_index .about .left {
	display: none;
}
#page_index .about .center {

}
#page_index .about .center img {
	padding-bottom:4%;
	width:75%;
}
#page_index .about .center p {
	font-size:13px;
	text-align:left;
	padding:0 4%;
	letter-spacing: 1px;
	font-family : 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3', 'ＭＳ Ｐ明朝', 'Times', 'Times New Roman', serif ;
}
#page_index .about .right {
	display: none;

}

#page_index .menu {
	background: #e2ead3;
	padding-top:4%;
	padding-bottom:4%;
}

#page_index .menu .wrapper {
	width:92%!important;
}
#page_index .menu ul li {
	margin-bottom: 4%;
}
#page_index .menu ul li:last-of-type {
	margin-bottom:0;
}
#page_index .menu ul li a .photo {
	overflow: hidden;
	height: auto;
    width: 100%;
	z-index: 1;

}
#page_index .menu ul li a img {
    width: 100%;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
#page_index .menu ul li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}



#page_index .menu ul li .box {
	background: #fff;
	padding-top:2%;
	padding-bottom:2%;
	z-index: 2;
}


#page_index .menu ul li .box h3 {
	font-size: 15px;
	line-height: 1;
	border-left:3px solid #62b256;
	margin-left:10px;
	padding-left:10px;
}
#page_index .menu ul li .one h3 {
	line-height: 2;
}

#page_index .menu ul li .box h3 span {
	display: block;
	font-size:12px;
	padding-bottom:1%;
}
#page_index .menu ul li a {
	text-decoration: none;
}
#page_index .news {
background: #f3f3f3;
padding-bottom:4%;
}
#page_index .news .wrapper {
	width:92%;
	margin:0 auto;
}
#page_index .news h2 {
	padding-top:4%;

}



#page_index .news .tab{
	overflow:hidden;
}
#page_index .news .tab li{
	background:#999999;
	font-size:11px;
	float:left;
	margin-right:2px;
}
#page_index .news .tab li a{
	color: #fff;
    display: block;
    padding: 5px 15px 2px;
}
#page_index .news .tab li.select{
	background:#e58f8f;
}
#page_index .news .content {
	border:1px solid #cccccc;
}
#page_index .news .content li{
	background:#fff
}

#page_index .news .hide {
	display:none;
}

#page_index .news .linkbtn3 a {
	margin-bottom:1%;
}
#page_index .news dl {
	padding:4% 0;
	border-bottom:1px solid #cccccc;
	display: block;
	width: 92%;
	margin:0 auto;
}
#page_index .news dl:last-child {
	border-bottom:none;
}
#page_index .news dl dt .cat {
	background: #e58f8f;
	color:#fff;
	padding:3px 30px;
	margin-left:30px;
	margin-right:20px;
}

#page_index .news dl dt {
	display: block;
	width: 100%;
	font-size:12px;
}

#page_index .news dl dd {
	display: block;
	width: 100%
	font-size:13px;
}
#page_index .news dl dd a:hover {
	color:#e58f8f;
}
#page_index .news img:hover { opacity:0.7;
filter: alpha(opacity=70);
-ms-filter: "alpha( opacity=70 )";}


/* company
----------------------------------------------------------------------------------------------------*/
#page_company .title h2 {
	padding-top:4%;
	margin-bottom:0px;
    padding-bottom: 0;
}
#page_company .title {
	background: #F9F8E5;
}

#page_company .title .photo {
		background: url(../../images/company_obi.jpg) center;
		background-size: cover;
		height: 60px;
}

#page_company .title .text {
	font-size:13px;
	text-align: center;
	padding:0 4% 4%;
}
#page_company .company  {
	background:#F3F3F3;
	padding-bottom::; 
}

#page_company .company h2 {
	padding-top:4%;
    padding-bottom: 0;
}

#page_company .company dl {
	border-bottom:1px solid #CCCCCC;
	margin:0 auto;
	display: block;
	font-size:13px;
	width: 92%;
	text-align:left;
}
#page_company .company dl:last-of-type {
    border-bottom: none;
    padding-bottom: 4%;
}
#page_company .company dl dt {
display: block;
    width: 100%;
    padding: 2% 0% 0;
    font-weight: bold;
    font-size: 15px;
}

#page_company .company dl dd {
	display: block;
	width: 100%;
	padding:0 0% 2%;
}

#page_company .careerfit_next {
	padding:4% 0;
}
#page_company .careerfit_next img {
	margin:0 auto;
	display: block;
	width:92%;
}


#page_company .link_bnr {
	background: #F9F8E5;
	text-align: center;
	padding-bottom:4%;
}
#page_company .link_bnr h2 {
	padding-top:4%;
	margin-bottom:0px;
    padding-bottom: 0;
}
#page_company .link_bnr img {
	width:92%;
}

/* contact
----------------------------------------------------------------------------------------------------*/

#page_contact section.contact table{

	margin:4% auto 0px;
font-size:13px;
font-size:1.3rem;
	width:92%;
		background:#fff;

}
#page_contact section.contact table th{
	color:#333333;
display: block;
width:100%;
  background:#f9f8e5;
	padding:2% 4%;
  border-left:1px solid #999999;
  border-top:1px solid #999999;
  border-right:1px solid #999999;
}
#page_contact section.contact table tr:last-of-type td{
  border-bottom:1px solid #999999;
}
#page_contact section.contact table th em{
	color:#f00;
	padding-left:5px;
}
#page_contact section.contact table td{
display: block;
width:100%;
	background:#fff;
  border-left:1px solid #999999;
  border-top:1px solid #999999;
  border-right:1px solid #999999;
	padding:4%;
}
#page_contact section.contact table td .title{
	padding-right:10px;
}
#page_contact section.contact table td #tel {
	margin-bottom:15px;
}
#page_contact section.contact .submit {
	text-align:center;
}
#page_contact section.contact .submit input, .mw_wp_form_confirm .submit input {
    background: #e85858;
    border: 1px solid #e85858;
    color: #fff;
    font-size: 13px;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 4% auto 0%;
    width:92%;
    padding: 14px 80px 14px 85px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 5px;
}
#page_contact section.contact h2 {
	font-size:18px;
	margin-top:4%;
}
#page_contact section.contact .box {
		width:100%;
		margin-bottom:4%;
		margin-top:4%;
}
#page_contact section.contact .photo {
		width:92%;
		margin:0 auto;
		display: block;
}
#page_contact section.contact .photo img {
	width:100%;
}
#page_contact section.contact .text {
		width:92%;
		display: block;
		margin:0 auto;
}
#page_contact section.contact .text p {

}
#page_contact section.contact .text h3 {
	font-size:15px;
	margin-bottom:4%;
	margin-top:4%;
}

#page_contact section.contact .step{
    list-style-type: none;
    display: table;
    width: 92%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#page_contact section.contact .mw_wp_form_confirm  {
	margin-top:4%;
}
#page_contact section.contact .mw_wp_form_complete p  {
    background: #f9f8e5;
    padding:4%!important;
    width:92%;
    text-align: left!important;
    margin: 4% auto 4%;
    font-size: 13px!important;
    border: 1px solid #999999;
}

#page_contact section.contact .mw_wp_form_confirm table th em {
	display: none;
}

#page_contact section.contact .step li{
  display:table-cell;
  position:relative;
  background: #c2eab7;
  padding: 1em 0.5em 1em 2em;
  color: #009245;
  font-weight: bold;
  font-size:10px;
}
#page_contact section.contact .step li:last-child{
  padding-right: 1em;
}
#page_contact section.contact .step li:last-child:before,
#page_contact section.contact .step li:last-child:after{
  display:none;
}
#page_contact section.contact .step li:before,
#page_contact section.contact .step li:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
#page_contact section.contact .step li:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
#page_contact section.contact .step li:after{
  top:-15px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent #c2eab7;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
#page_contact section.contact .step li.is-current{
  background: #62b256;
  font-weight: bold;
  color:#fff;
}
#page_contact section.contact .step li.is-current:after{
  border-color: transparent transparent transparent #62b256;
}
#page_contact section.contact .privacy a {
	color:#f00;
	text-decoration:underline;
}
#page_contact section.contact .privacy {
	padding-top:2%;
	font-size:13px;
	width: 92%;
	margin:0 auto;
	text-align: left;
}

/* house
----------------------------------------------------------------------------------------------------*/

#page_house .news {
	padding-bottom:4%;
}
#page_house .news .linkbtn1 {
	margin:0 auto;
	display: block;
	text-align: center;
	margin:4% 0 0;

}
#page_house .news h3 {
	font-size: 18px;
	text-align: center;
	color:#1a1a1a;
	padding:4% 0;
}
#page_house .news h3 .small {
	font-size: 15px;
}

#page_house .house h2 {
	text-align: center!important;	
	font-size:18px;
	margin:0 auto;
	letter-spacing: 1px;
	padding:4% 0;
}
#page_house .house h2:before {
	display: none;
}
#page_house .house h3 {
	font-size: 18px;
	padding:0 4%;
	text-align:center;
	margin:4% 0;
}

#page_house .house p {
	line-height: 1.7;
	padding:0 4%;
}
#page_house .house .grid {
	display: block;
	width: 100%;
	padding-bottom:4%;

}
#page_house .house .photo {
	display: block;
	width: 100%;
}
#page_house .house .photo img {
	width:92%;
	margin:0 auto;
	display: block;

}
#page_house .house .text {
	display: block;
	width: 100%;
}

#page_house .support {
	background: url(../../images/bgimg1.jpg) center;
	background-size: cover;
}
#page_house .support h2 {
	font-size:18px;
	padding:4% 4% 0;
}

#page_house .support ul li {
    background: #fff;
    font-size: 14px;
    /* margin-bottom: 4%; */
    margin: 4%;
    padding: 2% 4% 4%;
}
#page_house .support ul li:before {
    content: url(../../images/check_icon1.jpg);
    position: relative;
    padding-right:2px;
    top: 5px;
}

#page_house .support .box .left {
	display: block;
	margin-bottom:4%;
}
#page_house .support .box img {
	width:92%;
	margin:auto 4%;
}
#page_house .support .box .right {
	float:left;
}




/* roomtype
----------------------------------------------------------------------------------------------------*/
#page_house .roomtype {
	padding-bottom:4%;
}
#page_house .roomtype ul li {
	width: 92%;
	display: block;
	margin:0 auto;
}

#page_house .roomtype dl dt {
	color:#fff;
	text-align: center;
	font-size: 16px;
	padding:2% 4%;
}
#page_house .roomtype dl dt span {
	font-size: 15px;
	padding-left:10px;
}
#page_house .roomtype .col1 dt {background: #ef6f8e;}
#page_house .roomtype .col2 dt {background: #d34071;}
#page_house .roomtype .col3 dt {background: #ef6f8e;}

#page_house .roomtype dd {
	text-align: center;
}
#page_house .roomtype dd img {
	width:92%;
	margin-bottom:4%;
}
#page_house .roomtype dd p {
	font-size: 15px;
	padding-top:4%;
	line-height: 1.4;
	font-weight: bold;
	color: #333333;
}

#page_house .roomtype dd .area {
	font-size: 14px;
	padding-top:0px;
	font-weight: normal;
	color: #754c24;
}

#page_house .roomtype .grid{
	padding-top:4%;
	width:92%;
	margin:0 auto;
}

#page_house .roomtype .grid h3 {
	margin-bottom:2%;
}

/* page_house.guide
----------------------------------------------------------------------------------------------------*/
#page_house.guide .pagelink_col3 ul li a {
    width: auto;
}
#page_house.guide .require .grid {
	width:92%;
	margin:0 auto 4%;
}
#page_house.guide .require .grid ul {
	padding-top:15px;
}
#page_house.guide .require .grid ul li {
	list-style-type: disc;
	margin-left:20px;
}
#page_house.guide .cost {
	padding:4% 4%;
}
#page_house.guide .cost ul  {
	padding-top:20px;
}
#page_house.guide .cost ul li:before {
	content: "※";
}
#page_house.guide .cost h4 {
	color:#e05c5c;
	margin-top:4%;
	font-size: 16px
}

#page_house.guide .about {
	padding:4%;
}

#page_house.guide .about dl {
	border-bottom:1px solid #cccccc;
}
#page_house.guide .about dl dt{
	padding:4% 0;
	font-size: 16px;
}
#page_house.guide .about dl dt .pink {
	color:#ef6f8e;
	padding-right:5px;
}


#page_house.guide .about dl:last-child {
	margin-bottom:4%;
}
#page_house.guide .about dl dd ul {
	padding-bottom:4%;

}
#page_house.guide .about dl dd ul li {
	list-style-type: disc;
	margin-left:8%;
}

#page_house.guide .disease h3 {
	margin-bottom:4%;
	padding:0 4%;
margin-left: 4%;
}
#page_house.guide .disease ul {
	width: 92%;
	margin:0 auto;
	border-bottom:1px solid #999999;

}
#page_house.guide .disease ul li {
	float:left;
	width: 50%;
}

#page_house.guide .disease ul li dl dt {
	border-top:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	padding:2% 0;

	background: #ed8888;
	color:#fff;
	text-align: center;
}
#page_house.guide .disease ul li:nth-child(2n) dl dt {
	border-left:none;

}
#page_house.guide .disease ul li:nth-child(2n) dl dd {
	border-left:none;

}

#page_house.guide .disease ul li dl dd {
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	text-align: center;
	padding:10px 0;
}

#page_house.guide .disease ul.grid2 li:last-child dl {
	border-bottom:1px solid #999999;
}

#page_house.guide .disease p {
	padding:4%;
}


#page_house.about .features .point {
	width: 100%;
	padding:4% 0;
}

#page_house.about .features .point .photo {
	width: 92%;
	display: block;
	margin:0 auto;
}
#page_house.about .features .point .photo img {
	width:100%;
}

#page_house.about .features .point .text {
	width: 92%;
	display: block;
	margin:0 auto;
}

#page_house.about .features h2 {
	font-size: 15px;
	text-align: center;
	margin-bottom:4%;
	padding:0 4%;
}

#page_house.about .features .point .text h4 {
	color:#ef6f8e;
	font-size: 18px;
	margin-top:4%;
}
#page_house.about .features .point .text h4 .underline {
	width: 100%;
    padding-top: 2%;
    margin-bottom: 4%;
}
#page_house.about .features .point .text h4 .underline .left {
	width: 35px;
	float:left;
	border-bottom:3px solid #ef6f8e;
}
#page_house.about .features .point .text h4 .underline .right {
	float:left;
}

#page_house.about .features .point .text h5 {
	font-size: 18px;
	color:#333333;
	margin-bottom:4%;
}

#page_house.about .features .point .text ul {
	margin-top:4%;
	margin-bottom:4%;
	margin-left:4%;
}
#page_house.about .features .point .text ul li {
	list-style: disc;
	font-size: 15px;
}
#page_house.about .location h2 {
	text-align: center;
	font-size: 13px;
	padding:0 4%;
	margin-bottom:4%;
	text-align: left;
}

#page_house.about .location h3 {
	margin-top:4%;
}

#page_house.about .location .box .left iframe {
	width: 92%;
	height: auto;
}

#page_house.about .location .box .left {
	display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 4%;
}
#page_house.about .location .box .right {
	width: 100%;
	display: block;
}
#page_house.about .location .box .right ul {
	margin-top:13px;
	margin-bottom:13px;
}
#page_house.about .location .box .grid {
	width:92%;
	margin:0 auto;
}

#page_house.about .env .top {
	padding:4% 0;
}
#page_house.about .env .top h3 {
	font-size: 18px;
	margin-bottom:4%;
	text-align: center;
}
#page_house.about .env .top p {
	text-align: left;
	padding:0 4%;
}
#page_house.about .env .bottom {
	padding:40px 0;
}
#page_house.about .env .bottom img {
	margin:0 auto;
	display: block;
	text-align: center;
	width:100%;
}
#page_house.about .env .bottom ol {
	background: #fff;
	width: 92%;
	margin:0 auto;
	margin-top:4%;
	padding-top:4%;
	padding-bottom:4%;
}

#page_house.about .env .bottom {
	padding-bottom:4%;
}

	#page_house.about .env .bottom ol li {
	font-size: 13px;
}
#page_house.about .env .bottom ol .left {
    width: 100%;
    padding: 0 8%;
    margin-left: 4%;
}
#page_house.about .env .bottom ol .right {
    width: 100%;
    padding: 0 8%;
    margin-left: 4%;
}
#page_house.about #main_contents img.obi {
	width:100%;
}

#page_house.about .env .bottom img {
	width:92%!important;
	margin:0 auto;
}


#page_house.diary h3 {
	font-size:18px;
	padding:4% 0;
}



/* page_visitcare
----------------------------------------------------------------------------------------------------*/
#page_visitcare .title h2{
    text-align: center;
    font-size: 18px;
    color: #009245;
    margin-top: 4%;
}
#page_visitcare .title h2:before{
	display: none;
}
#page_visitcare .title p{
	text-align:left;
	padding:0 4% 4%;
}
#page_visitcare .service {
	padding:4% 0 0%;
}
#page_visitcare .service ul {
	margin:0 auto;
	display: block;
	width:92%;
}
#page_visitcare .service ul li {
    width: 48%;
    background: #62b256;
    padding: 4% 4%;
    float: left;
    margin-bottom: 4%;
}
#page_visitcare .service ul li:nth-child(2n) {
	margin-left:4%;
}
#page_visitcare .service ul li img {
	margin:0 auto;
	display: block;
    width: 50px;
}
#page_visitcare .service ul li h3 {
	text-align: center;
	color:#fff;
	font-size:13px;
}
#page_visitcare .introduction {
	padding:4%;
}
#page_visitcare .introduction .grid {
	width:100%;
}
#page_visitcare .introduction .grid:nth-of-type(1) {
	margin-bottom:4%;
}
#page_visitcare .introduction .photo {
	width:100%;
}
#page_visitcare .introduction .photo img {
	width:100%;
}
#page_visitcare .introduction .text {
	width:100%;
}
#page_visitcare .introduction .text h3 {
	margin:4% 0;
}
#page_visitcare .introduction .text p {
	line-height:1.5;
}
#page_visitcare .introduction .text h3 span {

	font-size:13px;
}
#page_visitcare .use .wrapper {
	width:92%;
	margin:0 auto;
}
#page_visitcare .use h3 {
	font-size:18px;
	text-align:center;
	padding:4% 0;
}
#page_visitcare .use p {
	padding:4% 0;
	margin-bottom: 0;
}
#page_visitcare .use p.kome {
	padding:4% 0 0;

}
#page_visitcare .use .scroll {
    overflow: auto;

}
#page_visitcare .use table {
        width: 200%;
}

#page_visitcare .use table .c1 {min-width: 5em;background:#fff;}
#page_visitcare .use table .c2 {min-width: 10em;background:#e6e6e6;}
#page_visitcare .use table .c3 {min-width: 14em;background:#e6e6e6;}
#page_visitcare .use table .c4 {min-width: 7em;background:#e6e6e6;line-height:1.3;}
#page_visitcare .use table .c5 {min-width: 7em;background:#fced97;line-height:1.3;}
#page_visitcare .use table .row2 {background:#f3c4c4;}
#page_visitcare .use table .row3 {background:#f9be9c;}
#page_visitcare .use table .row4 {background:#ece582;}
#page_visitcare .use table .row5 {background:#b0d790;}
#page_visitcare .use table .row6 {background:#b1d9d3;}
#page_visitcare .use table .row7 {background:#a3bed6;}
#page_visitcare .use table .row8 {background:#c9bdd9;}
#page_visitcare .use table td {background:#fff;vertical-align: top;font-size: 11px;}
#page_visitcare .use table td.en {background:#fff;text-align:center;vertical-align: middle;font-size:14px;}
#page_visitcare .use table td.jiko-en {background:#fced97;;text-align:center;vertical-align: middle;font-size:14px;font-weight:bold;}
#page_visitcare .use table th {border:1px solid #999;text-align:center;padding:8px 0;    font-size: 11px;}
#page_visitcare .use table td {border:1px solid #999;padding:8px;}
#page_visitcare .use table h4 {font-weight: bold;font-size:12px;}
#page_visitcare .use table h5 {font-weight: bold;font-size:12px;}

section.form form table td input[type=text] {
	padding: 3px 8px;
}
section.form form table td input[type=radio] {
	padding-right: 10px;
	display: inline-block;
}
section.form form table td label {
	display: inline-block;
	cursor:pointer;
	padding-right:10px;
}
section.form form table td textarea {
	padding: 10px;
	width:100%;
}
section.form form p.submit {
	text-align: center;
	margin: 20px 0 80px;
}
section.form form p.submit input {
	background: #4d9db9;
	border: none;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	margin: 0 auto;
	padding: 18px 70px 18px 75px;
	line-height: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
section.form form p.submit input:hover {
	background: #179ba5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
section.form form p.submit input:after {
	content: '→';
	padding-left: 10px;
}

/* page_careplan
----------------------------------------------------------------------------------------------------*/
#page_careplan .title h2{
	text-align: center;
	font-size:18px;
	color:#009245;
	margin-top:4%;
}
#page_careplan .title h2:before {
	display: none;
}
#page_careplan .title p{
	text-align:center;
	padding:0 4% 4%;
	text-align:left;
}
#page_careplan .trouble {
	padding:4% 0;
}
#page_careplan .trouble h2 {
	font-size:16px;
	text-align: center;
	margin-bottom: 4%;
	padding:0 4%;
}
#page_careplan .trouble ul {
    margin: 0 auto;
    width: 92%;
    display: block;
}
#page_careplan .trouble ul li:nth-child(1),
#page_careplan .trouble ul li:nth-child(2) {
	margin-bottom:4%;
}
#page_careplan .trouble ul li {
    width: 100%;
    display: table;
    background: #fff;
}
#page_careplan .trouble ul li img {
    display: table-cell;
    width: 100%;
}
#page_careplan .trouble ul li h3 {
    display: table-cell;
    width: 75%;
    font-size: 13px;
    padding-left:4%;
    font-weight: bold;
    line-height: 1.5;
    vertical-align: middle;
}
#page_careplan .trouble .arrow img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width:120px;
}
#page_careplan .trouble h4{
		font-size:16px;
		font-weight: bold;
		color:#849604;
		text-align:center;
}
#page_careplan .trouble p{
		text-align:center;
		padding: 0 4%;
}
#page_careplan .region {
	padding:4% 0 4%;

}
#page_careplan .region .box {
    width: 92%;
    border: 5px solid #e2ec99;
    text-align: center;
    padding:4% 0;
}
#page_careplan .region .box h3 {
    background: #99b31f;
    color: #fff;
    display: inline-block;
    width: 92%;
    padding: 1% 4%;
    margin-bottom: 4%;
    font-size: 16px;
}
#page_careplan .region .box p {
		font-size:15px;
		padding:0 4%;
}
#page_careplan .structure {
	padding:4% 0;
}
#page_careplan .structure h3 {
		font-size:18px;
		text-align: center;
		    margin-bottom: 4%;
		font-weight: bold;
}
#page_careplan .structure p {
		width:92%;
		margin:0 auto;
		text-align:left;
}
#page_careplan .flow {
	padding-bottom:4%;
}
#page_careplan .flow h3 {
		font-weight: bold;
		font-size:18px;
		text-align: center;
		    padding-top: 4%;
}
#page_careplan .flow img{
    display: block;
    margin: 0 auto;
    width:100%;
}
#page_careplan .service {
	padding:0 0 4%;
}

#page_careplan .service h2 {
		font-weight: bold;
		font-size:18px;
		text-align: center;
		    padding: 4%;	
}
#page_careplan .service .wrapper {
		width:92%!important;
}
#page_careplan .service .box {
		width:100%;
		margin:0 auto 4%;
}
#page_careplan .service .left {
		width:100%;
}
#page_careplan .service .right {
		width:100%;
margin-top: 4%;
}

#page_careplan .service .left h3 {
	background:#808080;
	color:#fff;
	padding:7px 0;
	text-align:center;
	margin-bottom:1%;
}
#page_careplan .service .left h4 {
	background:#f48c96;
	color:#fff;
	padding:7px 0;
	text-align:center;
}
#page_careplan .service .right h3 {
	background:#808080;
	color:#fff;
	padding:7px 0;
	text-align:center;
	margin-bottom:1%;
}
#page_careplan .service .right h4 {
	background:#f48c96;
	color:#fff;
	background:#29abe2;
	padding:7px 0;
	text-align:center;
}
#page_careplan .service ul {
	padding:4% 0 0 4%;
}
#page_careplan .service .linkbtn {
    text-align: center;
}
#page_careplan .service .linkbtn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 14px 50px 15px 26px;
    width:100%;
    margin-top: 0px;
    line-height: 1.7;
    position: relative;
    border-radius: 5px;
    background: #99b31f;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page_careplan .service .linkbtn a:hover {
	background:#c1d62b;
}
#page_careplan .service .linkbtn a:before {
    position: absolute;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    content: "";
    right: 10px;
    top: 30px;
}
#page_careplan .service .linkbtn a:after {
    content: "";
    position: absolute;
    top: 35px;
    right: 15px;
    width: 3px;
    height: 3px;
    border-top: 1px solid #99b31f;
    border-right: 1px solid #99b31f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* 404
----------------------------------------------------------------------------------------------------*/

section.page404 {
	padding: 60px 0 120px;
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
}
section.page404 a {
	color: #000;
}

#page_404 #contents .box {
	padding: 4%;
    background: #f9f8e5;
    margin-top: 4%;
    font-size: 13px!important;
    margin-bottom: 4%;
    width: 92%;
    border: 1px solid #999999;
    margin: 4% auto 4%;
}

#page_404 #contents .box a {
	text-align:center;
}
#page_404 #contents .linkbtn1 a {
	width:100%;
}
#page_404 #contents .linkbtn1 a:after {
    content: "";
    right: 10px;
    top: 15px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}



/* page_newslist
----------------------------------------------------------------------------------------------------*/
#page_newslist .news {
	padding:40px 0;
}

#page_newslist section.news a{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
#page_newslist section.news dl dd a {
	text-decoration: none;
}
#page_newslist section.news dl dd a:hover {
	color:#62b256;
}


#page_single .entry_header h3 {
    margin-bottom: 4%;
    border-bottom: 1px solid #b3b3b3;
    font-size: 16px;
    padding: 2% 0px 2%;
    font-weight: bold;
}

#page_single .entry_content {
    margin-bottom: 0%;
    padding: 2% 0px 4%;
}


#page_single .entry_content img {
	max-width: 100%;
	margin-bottom: 2%;
}
#page_single .entry_content p {
	margin-bottom: 2%;
	font-size:13px;

}
#page_single .entry_content h3 {
    border-left: 5px solid #62b256;
    padding-left: 10px;
	font-size:16px;
	font-size:1.6rem;
	font-weight:700;
	margin-bottom:2%;
}
#page_single .entry_content h4 {
	margin-bottom: 2%;
	font-weight: bold;
	font-size: 16px;
}
#page_single .entry_content strong {
	font-weight: bold;
}





#page_single .wrapper {
	width:92%;
	margin:0 auto;
}
#page_single footer .wrapper {
	width:100%;
	margin:0 auto;
}

ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}
ul.page_link {
    padding-top: 8%;
    margin-bottom: 8%;
}
ul.page_link li.prev {
    float: left;
}
ul.page_link li.next {
    float: right;
}
#page_single #contents {
    margin-top: 8%;
}


/* page_privacy
----------------------------------------------------------------------------------------------------*/
#page_privacy .top {
	width: 92%;
	margin:0 auto;
	padding-bottom:4%;
}
#page_privacy .top img {
	width: 100%;
	height: auto;
	margin-bottom:4%;
}
#page_privacy .top p {
    font-size: 14px;
    padding-bottom:4%;
}
#page_privacy .top ol li {
	padding-left:2em;
	text-indent:-2em;
	font-size:13px;
}

#page_privacy .privacy {
	background:#f9f8e5;
}
#page_privacy h2 {
	padding-top:4%;
}


#page_privacy .privacy dl {
	border-bottom:1px solid #CCCCCC;
	margin:0 auto;
	display: block;
	font-size:13px;
	width: 92%;
	text-align:left;
}
#page_privacy .privacy dl:last-of-type {
    border-bottom: none;
    padding-bottom: 4%;
}
#page_privacy .privacy dl dt {
display: block;
    width: 100%;
    padding: 2% 0% 0;
    font-weight: bold;
    font-size: 15px;
}

#page_privacy .privacy dl dd {
	display: block;
	width: 100%;
	padding:0 0% 2%;
}
